<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema CRUD de cadastro de usuários
    </mat-card-subtitle>
    <mat-list>
        <mat-list-item>
            Nome: {{user.name}}
        </mat-list-item>
        <mat-list-item>
            Email: {{user.email}}
        </mat-list-item>
        <mat-list-item>
            Criado: {{user.createdAt}}
        </mat-list-item>
    </mat-list>
</mat-card>