<div class="top-bar">
    <button mat-raised-button color="primary" routerLink="/user/create">
        Novo usuário
    </button>

    <mat-form-field class="searchBar">
        <mat-label>Pesquisa</mat-label>
        <input matInput type="text" [(ngModel)]="searchBarValue">
        <button mat-button *ngIf="searchBarValue" matSuffix mat-icon-button aria-label="Clear" routerLink="search/:{{searchBarValue}}">
          <i class="material-icons">search</i>
        </button>
    </mat-form-field>
</div>
<app-user-read></app-user-read>